#!/usr/bin/env escript
%% -*- erlang -*-
%%! -sname retex_control -hidden

main(Args) ->
    case Args of
	["stop"] ->
	    call(init, stop, []);
	["upload", Dir] ->
	    call(formula, from_images, [Dir]);
	["backup", Filename] ->
	    call(db, backup, [Filename]);
	["restore", Filename] ->
	    call(db, restore, [Filename])
    end.

call(Mod, Fun, Args) ->
    {ok, Host} = inet:gethostname(),
    Retex = list_to_atom("retex@" ++ Host),
    Result = rpc:call(Retex, Mod, Fun, Args),
    io:format("~p~n", [Result]).

